<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Boostrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    
    <!-- Global CSS -->
    <link href="/css/global.css" rel="stylesheet">
    <!-- Page Specific CSS -->
    <link href="/css/post.css" rel="stylesheet">

    <!-- Global JS -->
    <script src="/js/global.js"></script>
    <!-- Vote JS -->
    <script src="/js/vote.js"></script>
</head>

<body>

    <div class="picture-frame">
        <img src="{{picture-src}}" class="picture" alt="{{title}}">
    </div>

    <div class="module">
        <div class="post">
            <div class="post-text">
                This is a test pair of pants (thank you Pinterest). Every post should be identical to this one!
            </div>
            <div class="score unvoted">
                <span class="arrow up"><i class="glyphicon glyphicon-arrow-up"></i></span>
                <span class="score upvote">{{upvotes}}</span>
                <span class="arrow down"><i class="glyphicon glyphicon-arrow-down"></i></span>
                <span class="score downvote">{{downvotes}}</span>
            </div>
        </div>

        <div class="comments-label">
            Comments:
        </div>

        {{#each comments}}
        <div class="comment">
            <div class="comment-text">
                {{text}}
            </div>
            <div class="score unvoted">
                <span class="arrow up"><i class="glyphicon glyphicon-arrow-up"></i></span>
                <span class="score upvote">{{upvotes}}</span>
                <span class="arrow down"><i class="glyphicon glyphicon-arrow-down"></i></span>
                <span class="score downvote">{{downvotes}}</span>
            </div>
        </div>
        {{/each}}
    </div>

</body>

</html>
