<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Boostrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    
    <!-- Global CSS -->
    <link href="/css/global.css" rel="stylesheet">

    <!-- Global JS -->
    <script src="/js/global.js"></script>
    <!-- Vote JS -->
    <script src="/js/vote.js"></script>
</head>

<body>

  <div>
    This is a unformatted post screen demonstrating page upvotes/downvotes, comments and comment upvotes/downvotes.


    <div class="score unvoted">
        <div>
            <span class="arrow up">↑</span>
            <span class="score upvote">{{upvotes}}</span>
        </div>
        <div>
            <span class="arrow down">↓</span>
            <span class="score downvote">{{downvotes}}</span>
        </div>
    </div>

    <br>

    Comments:

    {{#each comments}}
    <div>
        <div>
            {{text}}
        </div>
        <div class="score unvoted">
            <span class="arrow up">↑</span>
            <span class="score upvote">{{upvotes}}</span>
            <span class="arrow down">↓</span>
            <span class="score downvote">{{downvotes}}</span>
        </div>
    </div>
    {{/each}}
  </div>

</body>

</html>